<form *ngIf="showAddApplicant" class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" [(ngModel)]="firstName" id="firstName" placeholder="First Name">
    </div>
    <div class="form-control">
        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" [(ngModel)]="lastName" id="lastName" placeholder="Last Name"> 
    </div>
    <div class="form-control">
        <label for="companyName">Company Name</label>
        <input type="text" name="companyName" [(ngModel)]="companyName" id="companyName" placeholder="Company Name"> 
    </div>
    <div class="form-control form-control-check">
        <label for="AppEntry">Is Applicant In Good Standing</label>
        <input type="checkbox" name="goodStanding" [(ngModel)]="goodStanding" id="goodStanding"> 
    </div>
    <input type="submit" value="Save Applicant" class="btn btn-block">
</form>
